/** global element styling **/

@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

/** global classes styling **/

.container {
  width: 100%;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

.grid {
  display: flex;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  min-height: 75px;
  padding: 0px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  width: 100%;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 120px;
  height: auto;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

a > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}


nav {
  font-weight: 400;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }
}

nav > ul {
  width: 25vw;
  min-width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#hero {
  display: flex;
  background-color: #624D3D;
  background-image: url(../images/bg-hero.jpg);
  background-repeat: no-repeat center;
  background-size: cover;
  background-position:center;
  height: 100vh;
  width: 100%;
}

h3{
  color: #000;
  font-size: 2rem;
}


.h1-1{
  display: inline;
  margin-top: 10px;
  color: #000;
  font-size: 5.5rem;
}
.h1-2{
  display: inline;
  color: #624D3D;
  font-size: 6rem;
  margin-left: 7px;
  font-weight: 700;
}


.container-right {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.container-left {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 3%;
}

.container-left > div {
  min-width: 785px;
}

@media (max-width:1800px) {
  h3{

    font-size: 1.75rem;
  }
  
  .h1-1{

    font-size: 5rem;
  }
  .h1-2{
    font-size: 5.5rem;
    margin-left: 7px;
    font-weight: 700;
  }
}

@media (max-width:1550px) {
  h3{

    font-size: 1.5rem;
  }
  
  .h1-1{

    font-size: 4.5rem;
  }
  .h1-2{
    font-size: 5rem;
    margin-left: 7px;
    font-weight: 700;
  }
}

@media (max-width:1410px) {
  h3{

    font-size: 1.25rem;
  }
  
  .h1-1{

    font-size: 4rem;
  }
  .h1-2{
    font-size: 4.5rem;
    margin-left: 7px;
    font-weight: 700;
  }
  .container-left {
    padding-left: 8%;
  }
}


/* .container-left {
  background-color: #9c847d;
}

.container-right {
  background-color: #8a7d9c;
} */

#hero > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

#hero input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#hero input[type='submit'] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

#hero input[type='submit']:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 650px) {
  #hero {
    margin-top: 120px;
  }
}

#products {
  display: flex;
  background-color:#D8A790;
  background-repeat: no-repeat center;
  background-size: cover;
  background-position:center;
  height: 100vh;
  width: 100%;
}

.container-left2 {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1%;
}

.container-right2 {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 3%;
}

.container-right2 > h2 {
  align-self: self-start;
  font-weight: bolder;
}

.container-right2 > h1 {
  align-self: self-start;
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
}

.container-left4 {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 1% 0 1% 8%;
}

.container-right4 {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2% 2% 2% 0;
}


.container-left4 > h1 {
  color: #232121;
  font-size: 4.5rem;
  font-weight: 700;
  padding: 0 10px;
}

.product-video{
  display: flex;
  background-color:#D8A790;
  background-repeat: no-repeat center;
  background-size: cover;
  background-position:center;
  height: 100vh;
  width: 100%;
}

.video {
  align-items: center;
  text-align: center;
}


.carousel-indicators {
  margin-top: 16px;
  margin-bottom: 0;
}

.carousel-item {
margin-bottom: 20px;
}

.carousel-control-prev {
  justify-content: end;
}

.carousel-control-next {
  justify-content: start;
}


#feedbacks {
  display: flex;
  justify-content: center;
  background-color:#f3dc5970;
  padding-top: 100px;
  height: 970px;
}


.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}


@media (max-width: 800px) {
  #contact-us{
    flex-direction: column;
  }
}

#contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  background-color:#cddddc;
  padding-top: 110px;
  padding-bottom: 20px;
  height: 850px;
}

.container-contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color:#cddddc;
  width: 100%;
  margin-top: 1%;
}

.container-right3 {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  padding-right: 10%;
  
}

.container-left3 {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 10%;
}

.container-form {
  width: 100%;
}

form {
  margin: 1.5rem;
  text-align: left;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.form-group {
  margin-bottom: 2rem;
}

.form-submit {
  margin-bottom: 2rem;
  text-align: end;
  justify-content: start;
}

.form-group > p {
  margin-bottom: 0.5rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 4.5rem;
  padding: 1rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid rgba(55, 56, 58, 0.1);
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out,   box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #ced4ee;
  outline: 0;
  box-shadow: 0 0 1rem 0.2rem rgba(206, 212, 238, 0.25);
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 1rem;
  resize: vertical;
  border: 1px solid rgba(55, 56, 58, 0.1);
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out,   box-shadow 0.15s ease-in-out;
}

.input-textarea:focus {
  border-color: #ced4ee;
  outline: 0;
  box-shadow: 0 0 1rem 0.2rem rgba(206, 212, 238, 0.25);
}

.form-control, .input-textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.maps {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;
}




footer {
  background-color: #f7ede4;
  padding: 10px;
}

footer > ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 10px;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  color: #444;
}

.align-center {
  text-align: center;
}
.hash-list {
  display: block;
  padding: 0;
  margin: 0 auto;
}

@media (min-width: 768px){
  .hash-list.cols-3 > li:nth-last-child(-n+3) {
      border-bottom: none;
  }
}
@media (min-width: 768px){
  .hash-list.cols-3 > li {
      width: 33.3333%;
  }
}
.hash-list > li {
  display: block;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pad-30, .pad-30-all > * {
  padding: 20px;
}
img {
  border: 0;
}
.mgb-20, .mgb-20-all > * {
  margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
  width: 100px;
}
.img-round, .img-rel-round {
  border-radius: 50%;
}
.padb-30, .padb-30-all > * {
  padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
  margin-bottom: 20px;
}
.align-center {
  text-align: center;
}
[class*="line-b"] {
  position: relative;
  padding-bottom: 10px;
  border-color: #E6AF2A;
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
  color: #222;
}
.font-cond-b {
  font-weight: 700 !important;
}

@media (max-width: 1200px) {
  .maps {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .container-right,
  .container-left,
  .container-left2,
  .container-right2,
  .container-left4,
  .container-right4,
  #contact-us,
  .container-right3,
  .container-left3 {
    width: 90%;
  }
}